.container{
  padding-top: 20px;
  display:grid;
  grid-row-gap: 10px
}
.result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.item{
  display: grid;
  grid-row-gap: 20px;
  border: solid 1px;
  color: black;
  padding: 5px;
}

.form{
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-gap: 10px
}

.item:hover{
  text-decoration: none;
}

input[type="text"]{
  border: 0;
  border-bottom: 1px solid blue;
  outline: 0;
}
.card{
  justify-content: space-between;
}
input:focus[type="text"]{
  border: 0;
  outline: 0;
}
.article{
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}
.abstract {
  font-size: 1.25rem;
}
.related{
  display: grid;
  grid-template-columns: 1fr 1fr
}
.related-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2px;
  grid-auto-rows: minmax(10px, auto);
}

