.container{
  padding-top: 20px;
  display:grid;
  grid-row-gap: 10px
}
.result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.item{
  display: grid;
  grid-row-gap: 20px;
  border: solid 1px;
  color: black;
  padding: 5px;
}

.form{
  display: flex;
  justify-content: space-around;
}

.item:hover{
  text-decoration: none;
}

input[type="text"]{
      border: 0;
      border-bottom: 1px solid blue;
      outline: 0;
}

input:hover[type="text"]{
      border: 0;
      border-bottom: 1px solid red;
      outline: 0;
}